<?xml version="1.0"?>
<config>
  <modules>
    <Acumbamail_Subscription>
      <version>1.0.0</version>
    </Acumbamail_Subscription>
  </modules>

  <frontend>
    <routers>
      <subscription>
        <use>standard</use>
        <args>
          <module>Acumbamail_Subscription</module>
          <frontName>acumbamail</frontName>
        </args>
      </subscription>
    </routers>
    <events>
      <acumbamail_hook_left_collumn>
	<observers>
	  <acumbamail_subscription_observer>
	    <class>acumbamail_subscription/observer</class>
	    <method>acumbamailHookLeftCollumn</method>
	    <type>singleton</type>
	  </acumbamail_subscription_observer>
	</observers>
      </acumbamail_hook_left_collumn>
    </events>
    <layout>
      <updates>
	<acumbamail>
	  <file>acumbamail.xml</file>
	</acumbamail>
      </updates>
    </layout>
  </frontend>

  <adminhtml>
    <menu>
      <acumbamail module="subscription">
        <title>Acumbamail</title>
        <sort_order>71</sort_order>              
        <children>
          <items module="subscription">
            <title>Configuración</title>
            <sort_order>0</sort_order>
            <action>subscription/adminhtml_configuration</action>
          </items>
        </children>
      </acumbamail>
    </menu>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                        <acumbamail_form translate="title" module="subscription">
                          <title>Acumbamail Options</title>
                        </acumbamail_form>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>

  <global>
    <blocks>
      <subscription>
        <class>Acumbamail_Subscription_Block</class>
      </subscription>
    </blocks>
    <helpers>
      <subscription>
        <class>Acumbamail_Subscription_Helper</class>
      </subscription>
    </helpers>
  </global>

  <depends>
    <Mage_Adminhtml/>
  </depends>
  
</config>
